* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.menu-sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
}
.menu-sidebar .logo {
  background: #314E6E;
  height: 75px;
  padding: 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
  position: relative;
  z-index: 3;
}

.menu-sidebar .logo p{
  margin-bottom: 0;
  color: #EEAC37;
}


.menu-sidebar__content {
  position: relative;
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
}

.navbar-sidebar {
  padding: 35px;
  padding-bottom: 0;
}

.navbar-sidebar .navbar__list li a {
  display: block;
  color: #555;
  font-size: 16px;
  padding: 15px 0;
}

.navbar-sidebar .navbar__list li a i {
  margin-right: 19px;
}

.navbar-sidebar .navbar__list li a:hover {
  color: #4272d7;
}

.navbar-sidebar .navbar__list li.active > a {
  color: #4272d7;
}

/* PAGE CONTAINER*/

.page-container {
  background: #e5e5e5;
  padding-left: 300px;
}

/* ----- Header ----- */
.header-desktop {
  background: #293A4A;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 75px;
  z-index: 3;
  padding: 8px;
}
.main-content {
  padding-top: 116px;
  min-height: 100vh;
  padding-bottom: 20px;
}


.my_container{
  /*margin: 4px auto;*/
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.3);
}

.mycontainer{
  max-width: 800px;
  margin: 25vh auto;
  padding: 20px;
  background-color: rgba(186, 182, 206, 0.5);
  border-radius: 25px;
  box-shadow: 0px 5px 14px 11px rgba(230, 226, 226, 0.9);
}
.sign_in{
  width: 100%;
  min-height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 2px rgba(230, 226, 226, 0.3);
}
.sign_in p{
  text-align: center;
}
.user-info{

  float: right;
  margin: 10px;
}
.user-info button{
  color: #EEAC37;
}
.navbar-sidebar button {
  margin: 15px;
    min-width: 207px;
    color: #ffffff;
}
.navbar-sidebar .colortextbtn a{
    color: #ffffff;
}
.colortextbtn a{
  color: #ffffff;
}
.mybtn{
  margin-left:5px;
}
.colorTd{
  background-color: #f7f7f7;
}


